<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>MyJournal</title>
        <link href="https://fonts.googleapis.com/css?family=Cousine:400" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:600" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/static/normalize.css">
        <link rel="stylesheet" href="/static/site.css">
    </head>
    <body>
        <header>
            <div class="container">
                <div>
                    <h2 class="sitetitle">Learning <br>Journal </h2>
                </div>
                <div class="site-header">
                    <a class="logo" href="/entries"><i class="material-icons">library_books</i></a>
                    <a class="button icon-right" href="/entries/new"><span>New Entry</span> <i class="material-icons">add</i></a>
                </div>
            </div>
        </header>
        <section>
            <div class="container">
                <div>
                    {% for field in form %}
                        {% if field.errors %}
                            {% for error in field.errors %}
                            <h3 class="empty">All fields are required -- You've deleted a field without re-entering information.<br>
                            All fields have been restored to their last saved inputs.</h3>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="edit-entry">
                    <h2>Edit Entry</h2>
                    <form method="POST" action="" >
                        {{ form.hidden_tag() }}
                        <label for="{{form.title.name}}">{{ form.title.label }}</label>
                        <input id="title" type="text" name="title" value="{{entry.title}}">
                        <label for="{{form.date.name}}">{{ form.date.label }}</label>
                        <input id="date" type="date" name="date" value="{{entry.date.strftime('%Y-%m-%d')}}"><br>
                        <label for="{{form.time_spent.name}}">{{ form.time_spent.label }}</label>
                        <textarea id="time_spent" rows="5" name="time_spent">{{ entry.time_spent }}</textarea>
                        <label for="{{form.learned.name}}">{{ form.learned.label }}</label>
                        <textarea id="learned" rows="5" name="learned">{{ entry.learned }}</textarea>
                        <label for="{{form.resources.name}}">{{ form.resources.label }}</label>
                        <textarea id="resources" rows="5" name="resources">{{ entry.resources }}</textarea>
                        <input type="submit" value="Publish Edits" class="button">
                        <a href="/entries/{{entry.id}}/deletecheck" class="button button-warning">Delete Entry</a>
                        <a href="/entries/{{entry.id}}" class="button button-secondary">Cancel</a>
                    </form>
                </div>
            </div>
        </section>
        <footer>
            <div>
                &copy; MyJournal
            </div>
        </footer>
    </body>
</html>